body {
	background-color: #F4F4F4
}
/*头部样式开始*/
#header{
	height: 80px;
	background-color: white;
}
#header .contWidth {
	height: 80px;
	margin: 0 auto;
	width: 100%;
	z-index: 100;
}
#header .logo {
    float: left;
	margin-left: 20px;
	margin-top: 4px;
    color: #FFF;
    line-height: 40px;
}
/*导航样式开始*/
.contWidth .nav {
    display: inline;
    float: right;
    margin-right: 25px;
}
#header .navImg {
	float: right;
	margin-right: 35px;
}
.contWidth ul li {
	float: right;
    display: inline-block;
	padding: 27px 0px;
	position: relative;

}
.contWidth ul li a{
	padding: 28px;
}
/* footer */
#footer {
    width: 100%;
	height: 200px;
	background-image: url(../images/底部.png);
	margin-top: 115px;
}
#footCenter {
	width: 1138px;
	margin: 0 auto;
	height: 200px;
	position: relative;
}
#footLogo {
	position: absolute;
	top: 25px;
	left: 10px;
}
#footText1 {
	position: absolute;
	top: 40px;
	left: 180px;
}
#footText2 {
	position: absolute;
	top: 90px;
	left: 180px;
}
#copyright {
	position: absolute;
	top:153px;
	left:20px;
}
#share {
	position: absolute;
	right: 0px;
	top: 23px;
}
.footShare {
	margin-left:16px;
	margin-right:16px;
}
